/dts-v1/;
/***************************************************************************
Example Layout:
Layout is built from 3 different sections: containers, objects, connections.

1. containers - all containers are represented as : dprc@<id>.
	1.1 Container node contains:
		1.1.1 icid pool - defined as follows:
			name = icid_pool.
			compatible = "fsl,icid-pool";
			num = <int>; 		num of icid's in pool.
			base_icid = <int>;	first icid in pool.
		1.1.1 Properties required for its initialization: 
			compatible = "fsl,dprc";
			parent = "dprc@<id>"; or "none" if this is a root-level container
			options =  "string";	one or more of the following options: 
							"DPRC_CFG_OPT_SPAWN_ALLOWED", 
							"DPRC_CFG_OPT_ALLOC_ALLOWED", 
							"DPRC_CFG_OPT_OBJECT_CREATE_ALLOWED", 
							"DPRC_CFG_OPT_TOPOLOGY_CHANGES_ALLOWED", 
							"DPRC_CFG_OPT_IOMMU_BYPASS",
							"DPRC_CFG_OPT_AIOP"
			portal_id = <int>;
		1.1.2 resources - all resources are defined as follows:
			type = "string";	one of resource type defines;
			num = <int>;		Number of resources;
			options = <int>; 	Request options
			id_base_align = <int>;  In case of explicit assignment, this field represents the required base ID for resource allocation;
						In case of non-explicit assignment, this field indicates the required alignment for the resource ID(s) - use 0 or 1 if there is no alignment requirement.
		1.1.3 objects - all objects' children are built as follows:
			obj_name = "<obj>@<id>";
			portal_id = <int>;
2. objects - 	all objects' children are named: <obj>@<id> and contains all parameters required for initialization.
3. connections - all 'connections' children are representing two objects connected to each other. 
		each "connection" defined as follows:
			name = "connection@<int>"
			endpoint1 = "object@<id>/if@<id>" or "object@<id>";
			endpoint2 = "object@<id>/if@<id>" or "object@<id>";		
****************************************************************************/
/ {	
	containers {
		icid_pool {
			compatible = "fsl,icid-pool";
			num = <100>;
			base_icid = <0>;
		};
		dprc@1 {
			compatible = "fsl,dprc";
			parent = "none"; 
			icid = <1>;
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED" , "DPRC_CFG_OPT_ALLOC_ALLOWED";
			portal_id = <0>;
			resources {
				res@1 {
					type = "mcp";
					num = <1>;
					options = "DPRC_RES_REQ_OPT_EXPLICIT";
					id_base_align = <15>;
				};
				res@2 {
					type = "mcp";
					num = <1>;
					options = "DPRC_RES_REQ_OPT_EXPLICIT";
					id_base_align = <16>;
				};
			};
			objects {
				obj@1{
					obj_name = "dpni@1";
				};
				obj@2{
					obj_name = "dpbp@1";
				};
				obj@3{
					obj_name = "dpio@1";
				};
				obj@4{
					obj_name = "dpsw@1";
				};
				obj@5{
					obj_name = "dpcon@1";
				};
				obj@6{
					obj_name = "dpci@1";
				};
				obj@7{
					obj_name = "dpseci@1";
				};
				obj@8{
					obj_name = "dpdmux@1";
				};
			};
		};
	};
	objects {
		dpio@1 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@1 {
			compatible = "fsl,dpbp";
		};
		dpni@1{
			compatible = "fsl,dpni";
			mac_addr = <0 0 1 0 0 1>;				
			options = "DPNI_OPT_UNICAST_FILTER", "DPNI_OPT_MULTICAST_FILTER", "DPNI_OPT_VLAN_FILTER", "DPNI_OPT_DIST_HASH";
			max_tcs = <4>;
			max_dist_per_tc = <0 1 3 7>; /* actual distribution will be <1 2 4 8> */
			max_unicast_filters = <8>;
			max_multicast_filters = <5>;
			max_vlan_filters = <4>;
			max_qos_entries = <8>;
		};
		dpsw@1{
			compatible = "fsl,dpsw";
			options = "DPSW_OPT_FLOODING_DIS", "DPSW_OPT_BROADCAST_DIS", "DPSW_OPT_MULTICAST_DIS", "DPSW_OPT_TC_DIS";
			max_vlans = <1>;				
			max_fdbs = <0>;
			num_fdb_entries = <4>;
			fdb_aging_time = <300>;
			num_ifs = <2>;
			max_fdb_mc_groups = <1>;
		};
		dpcon@1{
			compatible = "fsl,dpcon";
			num_priorities = <1>;
		};
		dpci@1{
			compatible = "fsl,dpci";
			num_of_priorities = <1>;
		};
		dpseci@1{
			compatible = "fsl,dpseci";
			priorities = <1 0>;
		};
		dpdmux@1{
                                compatible = "fsl,dpdmux";
                                options =  <0>;
				method = "DPDMUX_METHOD_MAC";
				manip = "DPDMUX_MANIP_NONE";                
				control_if = <0>;
				num_ifs = <3>;
				max_dmat_entries = <8>;
				max_mc_groups = <8>;
		};

	};
	connections {
		connection@1{
			endpoint1 = "dpni@1";
			endpoint2 = "dpmac@2";
		};
		connection@2{
			endpoint1 = "dpsw@1/if@1";
			endpoint2 = "dpmac@13";
		};
	};
};